<div data-ride="carousel" class="carousel slide" id="lb">
	<ol class="carousel-indicators">
		<li class="active" data-dlide-to="0" data-target="#lb"></li>
		<li data-dlide-to="1" data-target="#lb"></li>
		<li data-dlide-to="2" data-target="#lb"></li>
	</ol>
	<div class="carousel-inner" style="height: 270px;overflow: hidden;">
		<div class="item active">
			<img src="https://pic.lehe.com/pic/_o/6e/cf/4fd44a22c7401a562bd52f99b5ca_1600_750.cz.png">
		</div>
		<div class="item">
			<img src="https://pic.lehe.com/pic/_o/25/fc/368b28bd7720e49b301aed39683a_1600_750.cz.png">
		</div>
		<div class="item">
			<img src="https://pic.lehe.com/pic/_o/01/1c/9c414c70566bdab7318ca5be4249_1600_750.cz.png">
		</div>
	</div>
	<a href="#lb" data-slide="prev" class="left carousel-control">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a href="#lb" data-slide="next" class="right carousel-control">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>
